<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Canvas в HTML5</title>
        <link rel="stylesheet" href="../css/Styles.css">
    </head>
    <body>
        <canvas id="myCanvas" width="1350" height="572" style="background-color: white">
            Ваш браузер не поддерживает Canvas
        </canvas>
        <div class="elements">
            <img id="face" src="../images/run_people2/images/run_man2_01.png" width="20" height="18">
            <img id="monster" src="../images/monster.png" width="20" height="18">
            <p>Stage: 5</p>
            <p>Health: 2</p>
        </div>
        <script src="../public/bundle5.js"></script>
    </body>
</html>
